@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
	Layout = "_HomePageLayout";
}

<div class="image-container">
    @foreach (var item in Model)
    {
        <img src="~/img/@item.ImageFileName" alt="@item.ImageFileName" style="max-width: 300px" class="d-block mx-auto" />
    }

</div>
<br>
<div class="card-footer text-center">
    @foreach (var item in Model)
    {
        @item.Title
    }

</div>

											

											