@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Email Aktive Edildi! Şimdi dilediğiniz gibi gezebilirsiniz</h1>

<h2>
    üst barlara bakınız, buradan Anasayfa admin değilseniz ihtiyacınız olan sayfa;)
</h2>