@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "/Areas/Identity/Pages/Account/_EnterLayout.cshtml";
}


<!--begin::Heading-->
<div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">
        Şifrenizi mi unuttunuz?
    </h1>
    <!--end::Title-->
    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Şifreyi Sıfırlamak için Mail Adresinizi Giriniz.
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->
<!--begin::Input group--->
<div class="fv-row mb-8 fv-plugins-icon-container">
    <!--begin::Email-->
    <label asp-for="Email" class="col-md-2"></label>
    <input asp-for="Email" type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent">
    <span asp-validation-for="Email" class="text-danger "></span>
    <!--end::Email-->
    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
</div>

<!--begin::Actions-->
<div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button id="resetPassword-submit" class="btn btn-success form-control" type="submit">Maili Gönder</button>
</div>
<!--end::Actions-->
<br />
<div class="text-gray-500 text-center fw-semibold fs-6">
    Hatırladım ya la şifreyi, kapa burayı kapa..
    <a href="Account/Login" class="link-primary">Giriş Yap'a Dön</a>
</div>


