@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center" >
    <div class="text-center">
        <h1 class="display-4">Otovınn Admin Paneline Hoşgeldiniz</h1>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="EnableAuthenticator">Setup Two factor authentication</a>
            <br /> <br />


            @if (User.IsInRole("Admin"))
            {
                <h2>Yönetici</h2>
                <p>Şimdi Yönetici olarak oturum açtınız.</p>
            }
            else
            {
                <h2>Kullanıcı</h2>
                <p>Şimdi bir kullanıcı olarak oturum açtınız.</p>
            }
        }




       
    </div>

</div>

